.editAreaBody{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid  #B1B4BA;
  }
  
  .noticeInputTitle{
    text-align: right;
    float: left;
    width: 50px;
  }
  .noticeInputContent{
    float: left;
  }
  .button{ 
    margin-left: auto;
    margin-top:10px;
    margin-left: 200px;
  }
  .table{
    margin-top: 30px;
  }